@model CardDetailsViewModel

@{  
    ViewData["atk"] = Model.Atk >= 0 ? Model.Atk : Model.Atk.HasValue ? "?" : null;
    ViewData["def"] = Model.Def >= 0 ? Model.Def : Model.Def.HasValue ? "?" : null;

}


<div class="row text-center">
    <div class="col">
<p>
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Card Type</th>
                <th scope="col">Atk</th>
                <th scope="col">Def</th>
                <th scope="col">Level/Rank</th>
                <th scope="col">Attribute</th>
                <th scope="col">Type</th>
                <th scope="col">Scale</th>
                <th scope="col">Link Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>@Model.Name</td>
                <td>@Model.ExactCardType</td>
                <td>@ViewData["atk"]</td>
                <td>@ViewData["def"]</td>
                <td>@Model.Level</td>
                <td>@Model.CardAttribute</td>
                <td>@Model.Type</td>
                <td>@Model.Scale</td>
                <td>@Model.LinkValue</td>
            </tr>

        </tbody>
    </table>


</p>
        <div class="container-fluid">
            <div class="row g-2 ">
                
                @foreach (var entry in Model.CardImages)
                {


                    <img src="@entry" alt="@entry.Split("/").Last().Replace(".jpg","")" class="img-fluid rounded justify-content-between col-lg-2 col-md-4 col-sm-6" />


                }
                <h2>Description</h2>
                <div>@Model.Description</div>

               

            </div>
        </div>

</div>
</div>