@model CardCollectionViewModel


<div>


    <form class="d-flex" asp-controller="CardCollection" asp-action="Index" method="post">
        <div class="row py-2">
            <div class="col-3"></div>
            <div class="col-5 pb-1">
                <input class="form-control me-sm-2 py-2 pb-1" type="text" placeholder="Search for card..." value="@Model.FilterModel.SearchTerm" asp-for="FilterModel.SearchTerm">
            </div>
            <div class="col-2 px-1">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </div>
            <div class="card border-0">
                <div class="card-body">
                    <div class="card mb-3">


                        @for (var kvp = 0; kvp < Model.FilterModel.FilterEntries.Count; kvp++)
                        {
                            <div class="card-header">
                                <h5 class="text-center text-danger"><span class="fa fa-calendar mr-3 "></span>@(((FilterTypesEnum)kvp).GetDisplayName())</h5>
                            </div>

                            <div class="card-body">
                                <div class="d-grid">
                                    <div class="row-cols-auto m-2 text-center px-4">
                                      
                                            @for (var i = 0; i < Model.FilterModel.FilterEntries[(FilterTypesEnum)kvp].Count; i++)
                                            {



                                                <input type="checkbox" class="btn-check" id="@($"btncheck" + kvp +""+ i)" autocomplete="off" asp-for="@Model.FilterModel.FilterEntries[(FilterTypesEnum)kvp][i].IsChecked" />
                                                <label class="btn btn-info my-1 shadow-none" for="@($"btncheck" + kvp +""+ i)">@Model.FilterModel.FilterEntries[(FilterTypesEnum)kvp][i].Name</label>
                                                <input type="hidden" asp-for="@Model.FilterModel.FilterEntries[(FilterTypesEnum)kvp][i].Name" />




                                            }
                                        
                                    </div>
                                </div>
                            </div>
                                    }
                                    </div>
                                </div>
                            </div>
                </div>

</form>
</div>




<div class="row text-center g-2">





    @foreach (var entry in Model.CardModel)
    {
        <div class="col-xs-8r">
            <div>
                <a asp-action="Details" asp-route-id="@entry.Id" class="flex-lg-wrap">

                    <img src="@entry.ImageUrl" alt="@entry.Name" class="img-fluid rounded" />

                </a>
            </div>
        </div>



    }
</div>





